---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout>
  <Header />
  <main>
    <section class="w-[40rem] h-[40rem] bg-peach-clr"></section>
  </main>
</Layout>
