---
import "@/styles/globals.css";
---

<header class="flex justify-between items-center">
  <div class="w-[12.25rem] h-[1.5rem]">
    <a href="/"
      ><img src="/public/images/shared/desktop/logo-dark.png" alt="logo" /></a
    >
  </div>
  <ul
    class="flex gap-[2.625rem] text-sm font-normal text-dark-gray-clr uppercase"
  >
    <li><a href="/about">Our Company</a></li>
    <li><a href="/locations">Locations</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</header>
